header {
    background-image: url("/img/pattern.png");
    background-size: 25%;
    background-color: rgb(0, 162, 255);
}

#booleaner-logo {
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.scritto-da {
    font-size: 18px;
    color: grey;
}

#autore {
    color: rgb(0, 162, 255);
}

.data {
    font-size: 12px;
    color: grey;  
}

h1 {
    margin-bottom: 5px;
}

.didascalia {
    font-size: 12px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Da rimuovere indentazione lista!!! */

ul {
    margin-top: 25px;
    margin-bottom: 25px;
    /* margin-left: 0px; ????? */
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th { 
    background-color: rgb(0, 162, 255);
    color: white;
    width: 25%;
}

#ultima-colonna {
    width: 50%;
}

tr:nth-child(odd) {
    background-color: lightskyblue;
}

